# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6bafdf664c33ff4c3727d7508ea44ef5caf743cc84a0d9b8b083cdaa2d9e106b9af8a8d61b68cd3421fbac238ce6898cd827ed42878a939dea8252ee63ea0293

test:
  secret_key_base: ba5c54810edb5eadfb0fae0d6971a4414934e2812249dc34124721fa91beba3a04951ac9965571c7e2f0b0a8ca4df254d180edcb23882d95699a2b729b48c3f7

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
